.env

.DS_Store
__pycache__/
*.pyc
venv/

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
ENV/
env/

*.log
.DS_Store
*.sqlite3
*vscode/



docker-compose.override.yml
docker-compose.local.yml
.env.local
.env.production

mysql_data/
docker_troubleshoot.py

lpr/outputs/
lpr/strhub/
lpr/models/